h1 {color:#C9D4F2; text-align: center}

h4 {color:#3F7AB6}

p {text-align: center;padding: 25px 5px 25px 25px}

body {background-color: #FFFAFA; text-align: adjust}

#bord {background-color:#3F7AB6; text-align: center ;line-height: 2 ;padding:25px 10px 5px 10px; color:#C9D4F2}

#presentation {padding: 25px 5px 25px 5px   ; margin: 5px 10px 5px 10px ;        }

#list-example {padding: 25px 5px 25px 25px; color:#FFFAFA; margin: 15px 10px 5px 30px; text-align:right  }

#bas {background-color:#3F7AB6; color:#C9D4F2 ;}

#debut {text-align: justify;padding: 75px 5px 25px 5px   ; margin: 5px 10px 5px 10px; }

strong {font-size: 20px}

h3 {text-align: center; color: #C9D4F2}

#exp {padding: 10px 10px 10px 50px; text-align: justify;}